---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
eleventyComputed:
  title: 'Tagged "{{ tag }}"'
  metaDescription: 'All posts from the Blog tagged with "{{ tag }}"'
---

<header class="uui-section_header07">
  <div class="uui-page-padding-3">
    <div class="uui-container-large-3">
      <div class="uui-padding-vertical-xhuge-3">
        <div class="w-layout-grid uui-header07_component">
          <div class="uui-header07_content-left">
            <h1 class="uui-heading-large">{{ title }}</h1>
          </div>
          <div class="uui-header07_content-right">
            <div class="uui-text-size-xlarge-2">{{ metaDescription }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="uui-section_content">
  <div class="uui-page-padding-3">
    <div class="uui-container-large-3">
      <div class="uui-padding-vertical-xhuge-3">
        {% set postslist = collections[tag] %}
        {% include "components/postslist.njk" %}
        <nav>
          <p><a href="{{ '/blog/' | url }}">← Blog index</a></p>
        </nav>
      </div>
    </div>
  </div>
</section>
