<section class="uui-section_contact05">
  <div class="uui-page-padding-2">
    <div class="uui-container-large-2">
      <div class="uui-padding-vertical-xhuge-2">
        <div class="w-layout-grid uui-contact05_component">
          <div class="uui-contact05_content">
            <h2 class="uui-heading-medium">Contact us</h2>
            <div class="uui-space-xsmall"></div>
            <div class="uui-text-size-large">You can reach us anytime via <a href="mailto:hello@connectionme.com" class="uui-text-style-link-02">hello@connectionme.com</a></div>
            <div class="uui-contact05_form-wrapper w-form">
              <form id="wf-form-Contact-05-form" name="contact-section" data-name="Contact 05 form" method="POST" class="uui-contact05_form" data-netlify="true" netlify-honeypot="bot-field">
                <input type="hidden" name="form-name" value="contact-section">
                <p style="display: none;">
                  <label>Don't fill this out if you're human: <input name="bot-field"></label>
                </p>
                <div class="uui-form-field-wrapper"><label for="Contact-05-name" class="uui-field-label">Name</label><input class="uui-form_input-2 w-input" maxlength="256" name="name" data-name="Contact 05 name" placeholder="Your name" type="text" id="Contact-05-name" required=""></div>
                <div class="uui-form-field-wrapper"><label for="Contact-05-email" class="uui-field-label">Email</label><input class="uui-form_input-2 w-input" maxlength="256" name="email" data-name="Contact 05 email" placeholder="you@company.com" type="email" id="Contact-05-email" required=""></div>
                <div class="uui-form-field-wrapper"><label for="Contact-05-message" class="uui-field-label">Message</label><textarea id="Contact-05-message" name="message" maxlength="5000" data-name="Contact 05 message" placeholder="Type your message..." required="" class="uui-form_input-2 text-area w-input"></textarea></div>
                <label id="Contact05-checkbox" class="w-checkbox uui-form-checkbox">
                  <div class="w-checkbox-input w-checkbox-input--inputType-custom uui-form-checkbox-icon"></div>
                  <input id="Contact-05-checkbox" type="checkbox" name="privacy-agreement" data-name="Contact 05 checkbox" required="" style="opacity:0;position:absolute;z-index:-1">
                  <span for="Contact-05-checkbox" class="uui-form-checkbox-label w-form-label">You agree to our friendly <a href="#" class="uui-text-style-link-2">privacy policy</a>.</span>
                </label>
                <div class="uui-form-button-wrapper"><input type="submit" data-wait="Please wait..." class="uui-button w-button" value="Send message"></div>
              </form>
              <div class="success-message-2 w-form-done">
                <div class="success-text">Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message-2 w-form-fail">
                <div class="error-text">Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="uui-contact05_image-wrapper"><img src="/static/img/image11.jpg" loading="lazy" sizes="100vw" srcset="/static/img/image11-p-500.jpeg 500w, /static/img/image11-p-800.jpeg 800w, /static/img/image11-p-1080.jpeg 1080w, /static/img/image11.jpg 1152w" alt="Contact image" class="uui-contact05_image"></div>
        </div>
      </div>
    </div>
  </div>
</section>

