<section class="uui-section_logos04">
  <div class="uui-space-xxlarge"></div>
  <div class="uui-text-align-center">
    <div class="uui-max-width-large align-center-2">
      <h3 class="uui-heading-small">We partner with leaders</h3>
      <div class="uui-space-xxsmall"></div>
      <div class="uui-logos04_text d2q_uui-logos04_text"><em>Our mission is simple:</em> to provide clients with access to the UAE market through tailored corporate structures and cost-efficient solutions</div>
    </div>
  </div>
  <div class="uui-logo-loop_component">
    <div class="uui-logos-loop-css-embed w-embed">
      <style>
      .uui-logo-loop_inner{
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 90s linear infinite;
      }
      @keyframes marquee {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
      }
      </style>
    </div>
    <div class="uui-logo-loop_inner">
      <div class="uui-logos04_list">
        <div class="uui-logos04_wrapper"><img src="/static/img/meydan_fz.avif" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/spotify.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/slack.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/dropbox.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/webflow.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/zoom.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/stripe.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/loom.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/notion.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/hopin.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/outreach.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/segment.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/productboard.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
      </div>
      <div class="uui-logos04_list">
        <div class="uui-logos04_wrapper"><img src="/static/img/coinbase.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/spotify.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/slack.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/dropbox.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/webflow.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/zoom.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/stripe.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/loom.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/notion.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/hopin.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/outreach.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/segment.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
        <div class="uui-logos04_wrapper"><img src="/static/img/productboard.svg" loading="lazy" alt="Company logo" class="uui-logos04_logo"></div>
      </div>
    </div>
  </div>
  <div class="uui-space-xxlarge"></div>
</section>

