<div data-w-id="73afa81c-448a-a8fb-c68b-ac680d828982" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease-in-out-cubic" data-easing2="ease-in-out-cubic" role="banner" class="uui-navbar01_component d2q_fixed w-nav">
  <div class="uui-navbar01_container">
    <a href="{{ '/' | url }}" class="uui-navbar01_logo-link w-nav-brand">
      <div class="uui-styleguide_logo">
        <div class="uui-styleguide_logomark"><img src="/static/img/cme-logo.svg" loading="eager" height="" alt="Connection ME logomark" class="uui-styleguide_logomark-bg"></div>
      </div>
    </a>
    <nav role="navigation" class="uui-navbar01_menu w-nav-menu">
      <div class="uui-navbar01_menu-left">
        {# <a href="/style-guide/" class="uui-navbar01_link w-nav-link">Style Guide</a> #}
        {# Динамический список страниц из админки, отсортированный по order #}
        {% set navPages = collections.all | eleventyNavigation %}
        {% for entry in navPages %}
        <a href="{{ entry.url | url }}" class="uui-navbar01_link w-nav-link">{{ entry.title }}</a>
        {% endfor %}
        {# Временно закомментированный дропдаун #}
        {# {% include "components/nav-dropdown.njk" %} #}
      </div>
      <div class="uui-navbar01_menu-right">
        <div class="uui-navbar01_button-wrapper">
          <a href="#" class="uui-button-secondary-gray show-tablet-2 w-inline-block">
            <div>Log in</div>
          </a>
          <a href="#" class="uui-button-tertiary-gray hide-tablet-2 w-inline-block">
            <div>Login</div>
          </a>
          <a href="{{ '/contact' | url }}" class="uui-button w-inline-block">
            <div>Contact us</div>
          </a>
        </div>
      </div>
    </nav>
    <div class="uui-navbar01_menu-button w-nav-button">
      <div class="menu-icon_component">
        <div class="menu-icon_line-top"></div>
        <div class="menu-icon_line-middle">
          <div class="menu-icon_line-middle-inner"></div>
        </div>
        <div class="menu-icon_line-bottom"></div>
      </div>
    </div>
  </div>
</div>
