---
layout: layouts/base.njk
section: home
---

{# Главная страница - структура из Webflow #}
<div id="home-page">
  {# Hero секция - главный баннер с заголовком и кнопками #}
  <section class="d2q_hero-header">
    <div class="d2q_hero-block">
      <div class="uui-page-padding">
        <div class="uui-container-large">
          <div class="uui-padding-vertical-xhuge d2q_settings">
            <div class="w-layout-grid uui-heroheader07_component d2q_settings">
              <div id="w-node-d4def35a-5961-fc7d-419d-2d81b379cf40-6262f3d3" data-w-id="d4def35a-5961-fc7d-419d-2d81b379cf40" class="uui-heroheader07_content z-index-1-2 d2q_settings">
                {% if hero.subheading %}
                <div class="uui-heading-subheading uui-text-color-gray200 d2q_subheading_ebg">{{ hero.subheading | safe }}</div>
                {% else %}
                <div class="uui-heading-subheading uui-text-color-gray200 d2q_subheading_ebg">Консалтинг по банковским, юридическим<br>и налоговым вопросам для бизнеса и частных клиентов</div>
                {% endif %}
                {% if hero.title %}
                <h1 class="uui-heading-xlarge d2q_text-color-white">{{ hero.title | safe }}</h1>
                {% else %}
                <h1 class="uui-heading-xlarge d2q_text-color-white">Связываем<br>ваш бизнес<br>и возможности<br>в ОАЭ</h1>
                {% endif %}
                <div class="uui-space-small"></div>
                <div class="uui-max-width-small">
                  <div class="uui-text-size-xlarge text-color-gray200">{{ hero.description or "Работаем по строгим стандартам конфиденциальности и комплаенса" }}</div>
                </div>
                <div class="uui-space-large"></div>
                <div class="uui-button-row is-reverse-mobile-landscape">
                  <div class="uui-button-wrapper max-width-full-mobile-landscape-2">
                    <a href="#" class="uui-button-secondary-gray is-button-large w-inline-block w-lightbox">
                      <div>{{ hero.button1Text or "Узнать больше" }}</div>
                    </a>
                  </div>
                  <div class="uui-button-wrapper max-width-full-mobile-landscape-2">
                    <a href="{{ '/contact' | url }}" class="uui-button is-button-large w-inline-block">
                      <div>{{ hero.button2Text or "Запросить консультацию" }}</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {# Секция логотипов партнеров - анимированный список #}
  {% include "components/logos.njk" %}
  
  {# Секция юрисдикций - карточки с описанием стран #}
  {% include "components/jurisdictions.njk" %}
  
  {# Секция контактов - форма обратной связи #}
  {% include "components/contact-section.njk" %}
</div>
